.next-button {
    border: 2px solid #000000;
    background-color: #000000;
    margin-left: 555px;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.input-group input[type="date"] {
    width: 185px;
}

.inputs {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.steps {
    padding-right: 40px;
}

/*Password CSS*/
.font-size {
	font-size: calc(var(--sizeValue) * 10px);
	font-size: var(--sizeValue)rem;
}

.password-wrapper {
	position: absolute;
	border-radius: 5px;
    left: 22.5px;
}

.password-wrapper .icon-wrapper {
	width: 35px;
	height: 35px;
    border-radius: 0px 5px 5px 0px;
	background-color: black;
	cursor: pointer;
}

.eye-svg{
    width: 75%;
    height: 75%;
    padding-left: 12.5%;
    padding-top: 12.5%;
}

.input-group.password-wrapper {
    position: relative;
}

.input-group.password-wrapper .input {
    width: 185px;
}

.input-group.password-wrapper .icon-wrapper {
    position: absolute;
    top: 71.5%;
    right: 1.5px;
    transform: translateY(-50%);
}